---
layout: default
title: BOM
---

<h1>{{ page.title }}</h1>

<p>
    This comprehensive list includes all the components and materials required to assemble the Lemontron 3D printer.
    Each item is carefully selected to ensure the best performance and reliability of the printer. Whether you’re
    building your first Lemontron or upgrading an existing printer to a Lemontron, this BOM will guide you through every
    essential part needed for the project.
</p>

{% assign total_price = 0 %}
{% assign sorted_pages = site.bom | sort:"title" %}

<table>
    <tr>
        <th>&nbsp;</th>
        <th>Item</th>
        <th class="numeric">Qty</th>
        <th class="numeric">Orders</th>
        <th class="numeric">Total</th>
    </tr>
    {% for bom in sorted_pages %}
    <tr>
        <td class="image">
            <img height="40" width="40" src="/assets/bom/{{ bom.url | split: '/' | last }}.png"/>
        </td>
        <td>
            <div>
                <a href="{{ bom.url | relative_url }}">{{ bom.title }}</a>
                {% if bom.new %}
                <span class="badge">New</span>
                {% endif %}
            </div>
            <div class="description">{{ bom.description }}</div>
        </td>
        <td class="numeric">{{ bom.qty }}</td>
        <td class="numeric">{{ bom.orders }}</td>
        <td class="numeric">
            <span>${{ bom.total }}</span>
            <a class="buy" href="{{ bom.link }}" target="_blank">Buy</a>
        </td>
    </tr>
    {% assign total_price = total_price | plus: bom.total %}
    {% endfor %}
</table>

<p><b>NEW</b> badge indicates a part that is not in the JourneyMaker BOM.</p>

<h2>Total: <b>${{ total_price }}</b></h2>
