---
layout: default
title: Guides
---

<h1>{{ page.title }}</h1>

<p>
    Here you’ll find a collection of detailed guides designed to help you get the most out of your Lemontron. Whether
    you’re just starting with your first 3D printer or are an experienced maker, these guides will cover a wide range of
    topics to support you at every stage of your journey.
</p>

{% for guide in site.guides %}
<h2><a href="{{ guide.url | relative_url }}">{{ guide.title }}</a></h2>
<p>{{ guide.description }}</p>
{% endfor %}

{% include patreon.html %}