---
layout: guide
title: Guide
permalink: /lemontron/
kofi: true
---

{% include tip.html
title="I Support Other Creators"
tip="If you support me, the cycle of kindness continues. Please consider supporting this project on Patreon!"
icon="volunteer_activism"
shimmer=true
%}

<p>
    All screws are M3 unless otherwise stated.
</p>

<ol class="steps">
    {%- capture download_step -%}
    {% include button.html
    title = "Download Lemontron"
    link = "https://makerworld.com/en/@lemontron" %}
    The parts are sliced for 1-click printing on a Bambulab X1C, but check out the <a href="/lemontron/printed-parts/">Printed
    Parts</a> page for more very important information.
    {%- endcapture -%}
    {% include step.html
    title = "Print the parts"
    image = "print-the-parts.jpg"
    content = download_step %}

    {%- capture order_parts_step -%}
    Refer to the <a href="/lemontron/bom/">BOM</a> to purchase the parts. Maybe I can sell a kit one day.
    {%- endcapture -%}
    {% include step.html
    title = "Order the other parts"
    image = "print-the-parts.jpg"
    content = order_parts_step %}

    {% include step.html
    title = "Insert the screws"
    image = "bed-holder-insert-screws-1.jpg"
    content = "Drop two 40mm countersinks into the holes" %}

    {% include step.html
    title = "Scrape the mating surface flat"
    image = "bed-holder-scrape.jpg"
    content = "Using a blade, lightly scrape the surface. This will remove any gaps and make the parts fit together
    beautifully." %}

    {% include step.html
    title = "Screw in the spine"
    image = "bed-holder-screw-spine.jpg"
    content = "Secure it with 5 16mm countersinks." %}

    {% include step.html
    title = "Install the posts"
    image = "bed-holder-posts.jpg"
    content = "Insert a 12mm washer, a bearing, another washer, a spring that's been cut in half, and constrained by a
    nut." %}

    {% include tip.html tip="Follow the old machinists tapping tip which is to drive the screw in, back it out, and
    drive it in some more, over and over. This is the only way you'll be able to reuse the plastic threads next time you
    disassemble it." %}

    {% include step.html
    title = "Gather Z-Axis parts"
    image = "z-axis-parts.jpg"
    content = "Gather the Z-Axis (Printed), Bracket (Printed), MGW9C Linear Rail, Several 6mm Countersunk Screws, 2 x
    25mm Countersunk Screws, M5 Shims, M5 Bearings, Lead screw & Nut, Drive Pulley, and Belt." %}

    {% include step.html
    title = "Insert the bearings"
    image = "z-axis-insert-bearings.jpg"
    content = "Insert the two bearings into the bottom seats. Optionally, insert an additional bearing in the top seat."
    %}

    {% include step.html
    title = "Insert the lead screw"
    image = "z-axis-lead-screw.jpg"
    content = "Insert the lead screw through so that it just pokes through the bottom bearing." %}

    {% include step.html
    title = "Drop in the first shim"
    image = "z-axis-first-shim.jpg"
    content = "Drop in the first shim. This shim allows the bearing to turn while pressing against the drive pulley." %}

    {% include step.html
    title = "Drop in the drive pulley"
    image = "z-axis-drive-pulley.jpg"
    content = "Drop in the drive pulley with the belt pre-installed. Advance the lead screw flush with the top of the
    pulley." %}

    {% include step.html
    title = "Fish in the second shim"
    image = "z-axis-second-shim.jpg"
    content = "Use something thin to fish in the second shim. Push the lead screw all the way through." %}

    {% include step.html
    title = "Add the bracket"
    image = "z-axis-add-bracket.jpg"
    content = "After securing the nut to the bracket, install the bracket onto the lead screw." %}

    {% include tip.html
    title="Manufacturer's Differences"
    tip="If your nut is countersunk, use countersunk screws. If not, you can countersink it, or use button head screws.
    It makes no difference." %}

    {% include step.html
    title = "Cut the lead screw"
    image = "z-axis-tighten-grub-screws.jpg"
    content = "Align the lead screw's top with the top of the bearing seat and CUT the bottom off." %}

    {% include step.html
    title = "Tighten grub screws"
    image = "z-axis-tighten-grub-screws.jpg"
    content = "Tighten the grub screws." %}

    {% include step.html
    title = "Install the rail"
    image = "z-axis-install-rail.jpg"
    content = "Lay down the rail, give it a few love taps, and secure it with 6mm countersinks." %}

    {% include step.html
    title = "Gather edge connector parts"
    image = "z-axis-edge-connector.jpg"
    content = "Cut approximately 50cm of silicone power wire and signal wires." %}

    {% include step.html
    title = "Solder the power wires"
    image = "z-axis-edge-connector-power-wires.jpg"
    content = "Fan out the wire strands, and use the wire to bridge the two conductors as shown. Twist the end. Solder.
    Trim the excess." %}

    {% include step.html
    title = "Solder the signal wires"
    image = "z-axis-edge-connector-signal-wires.jpg"
    content = "Solder two thin gauge signal wires to the two middle conductors." %}

    {% include step.html
    title = "Sleeve the wires"
    image = "z-axis-edge-connector-sleeve.jpg"
    content = "Cut the wire sleeve to 32cm and finesse it onto the wires." %}

    {% include step.html
    title = "Cut the wires"
    image = "z-axis-edge-connector-cut-wires.jpg"
    content = "Cut the power wire to 44cm and the signal wires to 42cm." %}

    {% include step.html
    title = "Tin the power wires"
    image = "z-axis-edge-connector-strip-power-wires.jpg"
    content = "Strip 5mm of insulation from the power wires and tin them." %}

    {% include tip.html
    title="Note for the armchair experts who cry about ferrules"
    tip="If I hear one more idiotic comment about your stupid ferrules, I will find a tiny ferrule
    for your tiny benis and clamp it so hard that you'll wish I would use the iron instead." %}

    {% include step.html
    title = "Crimp signal wires"
    image = "z-axis-edge-connector-crimp-signal-wires.jpg"
    content = "Crimp the two signal wires. Learn how to crimp goooood <a href='/news/how-to-crimp'>here</a>." %}

    {% include step.html
    title = "Insert connector"
    image = "z-axis-edge-connector-insert-connector.jpg"
    content = "Insert the two crimped signal wires into the JST connector. Polarity does not matter." %}

    {% include step.html
    title = "Slide in edge connector wire"
    image = "z-axis-install-edge-connector.jpg"
    content = "Slide the wires in through the slot in the bracket and press the edge connector into place." %}

    {% include step.html
    title = "Tighten bracket"
    image = "z-axis-tighten-bracket.jpg"
    content = "Tighten the bracket on to the carriage with two 25mm countersunk screws." %}

    {% include step.html
    title = "Gather Lemonstruder parts"
    image = "lemonstruder-parts.jpg"
    content = "Top & bottom halfs (Printed), super glue, yellow spring, 6mm countersunk screw, small bearing, 2 M3 shims
    (Off frame, sorry)" %}

    {% include step.html
    title = "Glue halves together"
    image = "lemonstruder-glue.jpg"
    content = "Dap two tiny dots of super glue as pictured." %}

    {% include step.html
    title = "Insert the first shim"
    image = "lemonstruder-first-shim.jpg"
    content = "Insert the first shim, using a small screw to help guide it in. This shim will allow the bearing to
    rotate against the plastic housing." %}

    {% include step.html
    title = "Insert the bearing"
    image = "lemonstruder-bearing.jpg"
    content = "Insert the bearing on top of the shim." %}

    {% include step.html
    title = "Insert the second shim"
    image = "lemonstruder-second-shim.jpg"
    content = "Using tweezers, insert the second shim between the bearing and the plastic housing." %}

    {% include step.html
    title = "Insert the screw"
    image = "lemonstruder-insert-screw.jpg"
    content = "Insert the screw, pushing out the small screw. This screw is designed to not fit completely flush." %}

    {% include step.html
    title = "Insert the spring"
    image = "lemonstruder-insert-spring.jpg"
    content = "Insert the unmodified yellow boinger." %}

    {% include step.html
    title = "Insert the Lemonstruder"
    image = "lemonstruder-finished.jpg"
    content = "Insert the Lemonstruder into the left top plate." %}

    {% include step.html
    title = "Cut motor wires"
    image = "motors-cut-wires.jpg"
    content = "Cut the motor wires to the lengths 15cm, 15cm, 10cm, 23cm." %}

    {% include step.html
    title = "Crimp motor wires"
    image = "motors-crimping.jpg"
    content = "Crimp every motor wire." %}

    {% include step.html
    title = "Insert the crimps into the connector"
    image = "motors-connector.jpg"
    content = "Starting from the triangle mark, go in order of black, green, blue, red." %}

    {% include step.html
    title = "Modify the part cooling fan"
    image = "modify-fan.jpg"
    content = "Completely remove the two mounting tabs and wire retaining clip." %}

    {% include step.html
    title = "Push the wires through"
    image = "tool-insert-wires.jpg"
    content = "Push the part cooling fan wires through the cavity of the tool head." %}


    <!-- DRAFTS! -->

    {% include tip.html
    title="You've reached the end!!!@"
    tip="This is as far as i've written. I'm writing the rest now. Please consider supporting this project on Patreon!
    The rest of this web page is draft junk ⬇️️️ ⬇️️️ ⬇️️️ ⬇️️️"
    icon="volunteer_activism"
    %}


    {% include step.html
    title = "Crimp the motor wires"
    image = "test.jpg"
    content = "Now we're gonna crimp all these motors. You need to crimp well, so feel free to copy my method. We need
    one motor with each of these lengths of wires. 10cm, 15cm, 15 again, and 23 cm."
    %}


    {% include step.html
    title = "Cut the motor shafts"
    image = "test.jpg"
    content = "We're gonna gently coax all the motor shafts to shorten to 10mm"
    %}


    {% include step.html
    title = "Cut the X axis"
    image = "test.jpg"
    content = "Just snip one of the holes."
    %}


    {% include step.html
    title = "Sand off the protrusions on the big fan"
    image = "test.jpg"
    content = "This part is easy."
    %}

    {% include step.html
    title = "Clip the corner off the little fan"
    image = "test.jpg"
    content = "This part is easy."
    %}

    {% include step.html
    title = "Clip the corners off the PSU"
    image = "test.jpg"
    content = "When you work with PSU's always drain them. People have died."
    %}

    {% include step.html
    title = "Tighten the heat break"
    image = "test.jpg"
    content = "LDO had some issues with tightness from the factory."
    %}

    {% include step.html
    title = "Push the fan wires through the tool end"
    image = "test.jpg"
    content = "We're gonna get a little ahead of ourselves and start putting in the big fan but only to fish the wires
    through
    the tool end."
    %}

    {% include step.html
    title = "Install the hot end"
    image = "test.jpg"
    content = "Drop in the Positron 90 hot end into the slot and screw it in with 4 screws."
    %}

    {% include step.html
    title = "Install the PCB (Optional)"
    image = "test.jpg"
    content = "Attach the bare PCB with 4 screws too."
    %}

    {% include step.html
    title = "Countersink the microprobe"
    image = "test.jpg"
    content = "We have to countersink the bottom of it for the screws to fit or use glue. I'm going with screws here."
    %}

    {% include step.html
    title = "Install the microprobe"
    image = "test.jpg"
    content = "Screw it in with 2x m2.5 countersinks."
    %}

    {% include step.html
    title = "Install the small fan"
    image = "test.jpg"
    content = "push it up so that it slides under the rail and touches the radiator."
    %}

    {% include step.html
    title = "Push in the big fan"
    image = "test.jpg"
    content = "Now we can put in the big fan all the way. This secures the little fan too."
    %}

    {% include step.html
    title = "Solder the thermister"
    image = "test.jpg"
    content = "Bend it down and solder it to the PCB."
    %}

    {% include step.html
    title = "Solder the hot end fan"
    image = "test.jpg"
    content = "Solder it to the PCB."
    %}

    {% include step.html
    title = "Solder the part cooling fan"
    image = "test.jpg"
    content = "Solder it to the PCB."
    %}

    {% include step.html
    title = "Solder the hot end"
    image = "test.jpg"
    content = "Extend it and solder it to the PCB."
    %}

    {% include step.html
    title = "Install the probe connector"
    image = "test.jpg"
    content = "Clip the black wire and plug in the probe connector and solder the black wire to the ground pad."
    %}

    {% include step.html
    title = "Wire back to the controller board"
    image = "test.jpg"
    content = "The probe wires and hotend wires should be 56cm. The rest of the wires should be 58cm."
    %}

    {% include step.html
    title = "Add braided wire sleeve"
    image = "test.jpg"
    content = "Before crimping we need to add the braided sleeve, which should be 47cm"
    %}

    {% include step.html
    title = "Crimp the tool connectors"
    image = "test.jpg"
    content = "If your JST connectors have notches, the two fan power wires and the thermistor wire go into the JST
    connector on the non-notch side."
    %}

    {% include step.html
    title = "Crimp the probe connectors"
    image = "test.jpg"
    content = "The Yellow/Red goes on the 3P and the Black/White goes to the 2P."
    %}

    {% include step.html
    title = "Insert the bottom heat set inserts"
    image = "test.jpg"
    content = "6 in total,
    and the top one goes in from the front."
    %}

    {% include step.html
    title = "Insert the Z Block heat set inserts"
    image = "test.jpg"
    content = "Insert the bottom 2 from the back and the top one from the front."
    %}

    {% include step.html
    title = "Attach X Axis idlers"
    image = "test.jpg"
    content = "Insert an M3 nut on either side of the rail and screw in the idlers. Grab a 14mm Waferhead, slide
    on a F623RS bearing and a medium M3 shim and screw that in."
    %}

    {% include step.html
    title = "Connect fans"
    image = "test.jpg"
    content = "Add the chassis fans which are just wired in parallel."
    %}

    {% include step.html
    title = "Connect the tool head wires"
    image = "test.jpg"
    content = "Add the chassis fans which are just wired in parallel."
    %}

    - The hot end fan goes here
    - The part cooling fan goes here
    - The thermister goes here
    - And the big wires go into the screw terminal
    - Connect the edge connector wires
    - The thermistor goes here
    - And the big wires go into the screw terminal
    - Solder up the raspberry pi and the wires for that are [red,red,x,x,x]
    - Tuck in all the wires and lay the SKR pico into its hole
    - Screw the risers to the chassis and the Pi to the risers
    8. Insert an M3 nut to one side of the rail and cinch it down using a button head screw.
    - Attach the idlers to the tensioner: Grab a 12mm button head screw, add a F623RS bearing, then a medium M3 Shim and
    then a large M3 washer. Screw these into the tensioner and then slide it onto the Y Rail.
    - Slide in the rail, flip it over and secure the rail with a 16mm countersunk.

    {%- capture software_step -%}
    The <a href="/lemontron/software/">Software Guide</a> will help you get the OS flashed.
    {%- endcapture -%}
    {% include step.html
    title = "Install the software"
    image = "test.jpg"
    content = software_step
    %}

    {%- capture calibration_step -%}
    The <a href="/lemontron/calibration/">Calibration Guide</a> will help you get the perfect first layer.
    {%- endcapture -%}
    {% include step.html
    title = "Calibrate the Z-offset"
    image = "test.jpg"
    content = calibration_step
    %}
</ol>


<h2>Hardware Assemblies</h2>

<h4>Bearing Towers</h4>
<ol class="hardware-assembly">
    <li>18mm Wafer Head</li>
    <li>F623RS Bearing</li>
    <li>M3 Shim</li>
    <li>M3 Washer</li>
    <li>683ZZ Bearing</li>
    <li>M3 Shim</li>
    <li>F683 Bearing</li>
    <li>M3 Shim</li>
    <li>F683</li>
    <li>M3 Shim</li>
</ol>

<h4>Mid Plate Idlers (On Motor)</h4>
<ol class="hardware-assembly">
    <li>14mm Wafer Head</li>
    <li>M3 Washer</li>
    <li>M3 Shim</li>
    <li>683ZZ Bearing</li>
    <li>M3 Shim</li>
    <li>M3 Washer</li>
</ol>

<h4>Mid Plate Idlers (Bottom)</h4>
<ol class="hardware-assembly">
    <li>30mm Wafer Head</li>
    <li>F623RS Bearing</li>
    <li>M3 Shim</li>
    <li>M3 Washer</li>
</ol>

<h4>Z Idler</h4>
<ol class="hardware-assembly">
    <li>14mm Wafer Head</li>
    <li>F623RS Bearing</li>
    <li>M3 Shim</li>
    <li>F623RS Bearing</li>
    <li>M3 Shim</li>
</ol>

<h4>Tensioner</h4>
<ol class="hardware-assembly">
    <li>14mm Wafer Head</li>
    <li>F623RS Bearing</li>
    <li>M3 Shim</li>
    <li>M3 Washer</li>
</ol>

<h4>X Axis Idlers</h4>
<ol class="hardware-assembly">
    <li>14mm Wafer Head</li>
    <li>F623RS Bearing</li>
    <li>M3 Shim</li>
    <li>X Axis Rail</li>
    <li>M3 Nut</li>
</ol>