body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {margin:0;padding:0;}
body {
    font:400 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color:#000;
    background-color:#fff;
    -webkit-text-size-adjust:100%;
    -webkit-font-feature-settings:"kern" 1;
    -moz-font-feature-settings:"kern" 1;
    -o-font-feature-settings:"kern" 1;
    font-feature-settings:"kern" 1;
    font-kerning:normal;
    display:flex;
    min-height:100vh;
    flex-direction:column;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {margin-bottom:10px;}
main {display:block;}
img {max-width:100%; vertical-align:middle;}
figure > img {display:block;}
figcaption {font-size:14px;}
ul, ol {margin-left:30px;}
li > ul, li > ol {margin-bottom:0;}
h1, h2, h3, h4, h5, h6 {font-weight:400; font-family:Viga, sans-serif;}
a {color:#072AC8; text-decoration:none;}

blockquote {color:#828282; border-left:4px solid #e8e8e8; padding-left:15px; font-size:18px;}
blockquote > :last-child {margin-bottom:0;}
pre, code {font-size:15px; border-radius:3px; background-color:#eef;}
code {padding:1px 5px;}
pre {padding:8px 12px; overflow-x:auto;}
pre > code {border:0; padding-right:0; padding-left:0;}

.wrapper {max-width:calc(800px - 30px * 2); margin:0 auto;padding:0 30px;}
@media screen and (max-width:800px) {
    .wrapper {
        max-width:-webkit-calc(800px - (30px));
        max-width:calc(800px - (30px));
        padding-right:15px;
        padding-left:15px;
    }
}

.svg-icon {width:16px; height:16px; display:inline-block; fill:#000; padding-right:5px; vertical-align:text-top;}
.social-media-list li + li {padding-top:5px;}
table {margin-bottom:30px; width:100%; text-align:left; border-collapse:collapse; border:2px solid #1E96FC; border-top:none;}
table th, table td {padding:5px 10px;}
table th {background:#1E96FC; color:#fff;}
.numeric {text-align:right;}
.centered {text-align:center;}
td.image {padding:0; text-align:center;}
table td {border:1px solid #A2D6F9;}
table .description {font-size:12px;}
table tr:nth-child(2) td {border-top:none;}

.badge {border-radius:10px; background:#f00; font-size:10px; font-weight:bold; color:#fff; text-transform:uppercase; padding:2px 5px;}
.buy {background:#fff45d; display:inline-block; text-align:center; color:#000; padding:0 10px; border-radius:10px; text-transform:uppercase; font-size:12px; font-weight:bold; margin-left:10px;}

.site-header {background:#FCF300; position:relative;}
.site-header .wrapper {display:flex; align-items:center; gap:30px; height:56px;}
.site-title {font-size:26px; font-weight:300; line-height:54px; margin-bottom:0;}
.site-title img {height:36px; display:block;}
.site-nav .nav-trigger {display:none;}
.site-nav .menu-icon {display:none;}
.site-nav .page-link {color:#000; line-height:1.5;}
.page-link.active {font-weight:bold;}

@media (min-width:600px){
    .site-nav .page-link:not(:last-child) {margin-right:20px;}
}

@media (max-width:600px) {
    .site-title {flex:1;}
    .site-nav {background:#fff;}
    .site-nav label[for=nav-trigger] {display:block; z-index:2;}
    .site-nav .menu-icon {width:36px; height:36px; display:flex; align-items:center; text-align:center; justify-content:center;}
    .site-nav .menu-icon > svg {fill:#000;}
    .site-nav input ~ .trigger {position:absolute; top:100%; left:0; opacity:0; transition:all .3s; pointer-events:none; width:100vw; padding-bottom:5px; background:#FCF300; transform:translateY(-10px);}
    .site-nav input:checked ~ .trigger {opacity:1; pointer-events:auto; transform:translateY(0);}
    .site-nav .page-link {display:block; padding:5px 10px; text-align:center; margin:0;}
}

.site-footer {border-top:2px solid #FCF300; padding:30px 0;}
/*.footer-heading {font-size:18px; margin-bottom:15px;}*/
.contact-list, .social-media-list {list-style:none; margin-left:0;}
.footer-col-wrapper {font-size:15px; margin-left:-15px;}
.footer-col {float:left; margin-bottom:15px; padding-left:15px;}
.footer-col-1 {
    width:-webkit-calc(35% - (30px / 2));
    width:calc(35% - 30px / 2);
}
.footer-col-2 {
    width:-webkit-calc(20% - (30px / 2));
    width:calc(20% - 30px / 2);
}
.footer-col-3 {
    width:-webkit-calc(45% - (30px / 2));
    width:calc(45% - 30px / 2);
}

@media screen and (max-width:800px) {
    .footer-col-1,
    .footer-col-2 {
        width:-webkit-calc(50% - (30px / 2));
        width:calc(50% - 30px / 2);
    }

    .footer-col-3 {
        width:-webkit-calc(100% - (30px / 2));
        width:calc(100% - 30px / 2);
    }
}
@media screen and (max-width:600px) {
    .footer-col {
        float:none;
        width:-webkit-calc(100% - (30px / 2));
        width:calc(100% - 30px / 2);
    }
}
.page-content {padding:30px 0; flex:1;}
.page-heading {font-size:32px;}
.post-list-heading {font-size:28px;}
.post-list {margin-left:0; list-style:none;}
.post-list > li {margin-bottom:30px;}
.post-meta {font-size:12px; text-transform:uppercase; font-weight:bold;}
.post-link {display:block; font-size:24px;}
.post-header {margin-bottom:30px;}

.post-title {font-size:42px; letter-spacing:-1px; line-height:1;}
@media screen and (max-width:800px) {
    .post-title {font-size:36px;}
}

.post-content {margin-bottom:30px;}
.post-content h2 {font-size:32px;}
@media screen and (max-width:800px) {
    .post-content h2 {font-size:28px;}
}
.post-content h3 {font-size:26px;}
@media screen and (max-width:800px) {
    .post-content h3 {font-size:22px;}
}
.post-content h4 {font-size:20px;}
@media screen and (max-width:800px) {
    .post-content h4 {font-size:18px;}
}

.highlight {background:#fff;}
.highlighter-rouge .highlight {background:#eef;}
.highlight .c {color:#998; font-style:italic;}
.highlight .err {color:#a61717; background-color:#e3d2d2;}
.highlight .k {font-weight:bold;}
.highlight .o {font-weight:bold;}
.highlight .cm {color:#998; font-style:italic;}
.highlight .cp {color:#999; font-weight:bold;}
.highlight .c1 {color:#998; font-style:italic;}
.highlight .cs {color:#999; font-weight:bold; font-style:italic;}
.highlight .gd {color:#000; background-color:#fdd;}
.highlight .gd .x {color:#000; background-color:#faa;}
.highlight .ge {font-style:italic;}
.highlight .gr {color:#a00;}
.highlight .gh {color:#999;}
.highlight .gi {color:#000; background-color:#dfd;}
.highlight .gi .x {color:#000; background-color:#afa;}
.highlight .go {color:#888;}
.highlight .gp {color:#555;}
.highlight .gs {font-weight:bold;}
.highlight .gu {color:#aaa;}
.highlight .gt {color:#a00;}
.highlight .kc {font-weight:bold;}
.highlight .kd {font-weight:bold;}
.highlight .kp {font-weight:bold;}
.highlight .kr {font-weight:bold;}
.highlight .kt {color:#458; font-weight:bold;}
.highlight .m {color:#099;}
.highlight .s {color:#d14;}
.highlight .na {color:#008080;}
.highlight .nb {color:#0086b3;}
.highlight .nc {color:#458; font-weight:bold;}
.highlight .no {color:#008080;}
.highlight .ni {color:#800080;}
.highlight .ne {color:#900; font-weight:bold;}
.highlight .nf {color:#900; font-weight:bold;}
.highlight .nn {color:#555;}
.highlight .nt {color:#000080;}
.highlight .nv {color:#008080;}
.highlight .ow {font-weight:bold;}
.highlight .w {color:#bbb;}
.highlight .mf {color:#099;}
.highlight .mh {color:#099;}
.highlight .mi {color:#099;}
.highlight .mo {color:#099;}
.highlight .sb {color:#d14;}
.highlight .sc {color:#d14;}
.highlight .sd {color:#d14;}
.highlight .s2 {color:#d14;}
.highlight .se {color:#d14;}
.highlight .sh {color:#d14;}
.highlight .si {color:#d14;}
.highlight .sx {color:#d14;}
.highlight .sr {color:#009926;}
.highlight .s1 {color:#d14;}
.highlight .ss {color:#990073;}
.highlight .bp {color:#999;}
.highlight .vc {color:#008080;}
.highlight .vg {color:#008080;}
.highlight .vi {color:#008080;}
.highlight .il {color:#099;}
