<div class="bom-list">
    {% for bom in include.items %}
    {% assign link = bom.links | first %}
    <div class="bom-item">
        <a href="{{bom.url | relative_url}}" class="bom-top frame">
            <img class="bom-image" src="/assets/bom/{{bom.url | split: '/' | last}}.png"/>
            {%- if include.hide_price == nil -%}
            <div class="bom-badges">
                {% if bom.new %}
                <span class="badge new">New</span>
                {% endif %}
                {% if bom.modification %}
                <span class="badge mod"><i class="material-icons">carpenter</i> Mod</span>
                {% endif %}
                {%- if bom.qty > 1 -%}
                <span class="badge qty">×{{bom.qty}}</span>
                {%- endif -%}
            </div>
            {%- endif -%}
        </a>
        <div class="bom-body">
            <a class="bom-link bom-name" href="{{bom.url | relative_url}}">{{bom.title}}</a>
            {%- if include.hide_price == nil -%}
            <a class="buy" href="{{link.url}}" target="_blank">
                <i class="material-icons">shopping_cart</i>
                <div class="bom-price">${{bom.total}}</div>
            </a>
            {%- endif -%}
        </div>
    </div>
    {% endfor %}
    <div class="bom-placeholder"></div>
    <div class="bom-placeholder"></div>
    <div class="bom-placeholder"></div>
    <div class="bom-placeholder"></div>
</div>