<li class="inventory-item">
    <div class="inventory-item-left frame">
        <img class="inventory-item-image" src="/assets/printed-parts/{{include.id}}.png"/>
    </div>
    <div class="inventory-item-right">
        <h4 class="inventory-item-title">{{include.title}}</h4>
        <div class="inventory-item-description">{{include.description}}</div>
        <div class="inventory-item-bar">
            {% if include.preferred_material %}
            <div class="tag">
                <span class="tag-label">Preferred</span>
                <span class="tag-value">{{include.preferred_material}}</span>
            </div>
            {% endif %}
            {% if include.other_material %}
            <div class="tag">
                <span class="tag-label">Backup</span>
                <span class="tag-value">{{include.other_material}}</span>
            </div>
            {% endif %}
        </div>
    </div>
</li>
