<li class="inventory-item">
    <div class="inventory-item-left">
        <img class="inventory-item-image" src="/assets/printed-parts/{{include.id}}.png"/>
    </div>
    <div>
        <h4 class="inventory-item-title">{{include.title}}</h4>
        <div>{{include.description}}</div>
        <div class="inventory-item-bar">
            {% if include.preferred_material %}
            <div class="tag">
                <span class="tag-label">Best</span>
                <span class="tag-value">{{include.preferred_material}}</span>
            </div>
            {% endif %}
            {% if include.other_material %}
            <div class="tag">
                <span class="tag-label">Budget</span>
                <span class="tag-value">{{include.other_material}}</span>
            </div>
            {% endif %}
        </div>
    </div>
</li>
