<div class="table-responsive">
    <table>
        {% for screw in site.data.screws %}
        {%- assign total_qty = 0 -%}
        {%- for use in screw.uses -%}{% assign total_qty = total_qty | plus: use.qty %}{%- endfor -%}
        <tr>
            <td class="td-screw">
                {% include screw.html type=screw.type length=screw.length thread=screw.thread %}
            </td>
            <td>&times;{{total_qty}}</td>
            <td class="screw-description">
                {% for use in screw.uses %}
                <div class="tag">
<!--                    {%- if use.image -%}-->
<!--                    <img src="/assets/guide/{{use.image}}" alt="{{use.name}}" class="tag-image"/>-->
<!--                    {%- endif -%}-->
                    <div class="tag-label">{{use.name}}</div>
                    <div class="tag-value">&times;{{use.qty}}</div>
                </div>
                {% endfor %}
            </td>
            <td class="bom-right">
                <span>${{screw.total}}</span><br/>
                {% if screw.link %}
                <a class="buy" href="{{screw.link}}" target="_blank">
                    <i class="material-icons">shopping_cart</i>
                    AliExpress
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
