<li class="step">
    <h2>{{include.title}}</h2>
    <div class="step-sbs">
        <div class="step-left frame">
            {%- if include.optional -%}
            <div class="step-optional">
                <b>O</b>
                <b>P</b>
                <b>T</b>
                <b>I</b>
                <b>O</b>
                <b>N</b>
                <b>A</b>
                <b>L</b>
            </div>
            {%- endif -%}
            <img src="/assets/guide/{{include.image}}" alt="{{include.alt}}">
        </div>
        <div class="step-right">
            {% if include.buttonTitle %}
            <div>
                {% include button.html
                icon=include.buttonIcon
                title=include.buttonTitle
                link=include.buttonLink
                target=include.buttonTarget
                %}
            </div>
            {% endif %}

            <div>{{include.content}}</div>

            {%- if include.screw -%}
            {% assign screw = site.data.screws | where:"id", include.screw | first %}
            <div class="step-screw">
                <div class="screw-pill">
                    {% include screw.html type=screw.type length=screw.length thread=screw.thread %}
                </div>
            </div>
            {%- endif -%}

            {%- if include.note -%}
            <div class="step-note">{{include.note}}</div>
            {%- endif -%}
        </div>
    </div>
</li>
