{%-capture link -%}https://www.amazon.com/dp/{{include.amazon}}?&tag=lemontron-20{%-endcapture-%}

<a class="bom-item frame" href="{{link}}" target="_blank">
    <div class="bom-top">
        <img class="bom-image" src="{{include.image}}" alt="{{include.title}}"/>
    </div>
    <div class="bom-body">
        <div class="bom-link">
            <div class="bom-name">{{include.title}}</div>
        </div>
        <div class="bom-right">
            <span class="buy">
                <i class="material-icons">shopping_cart</i>
                Amazon
            </span>
        </div>
    </div>
</a>