---
layout: guide
title: BOM
date:   2024-08-07
category: Assembly
kofi: Yes
---

<p>
    This comprehensive list includes all the parts required to assemble a Lemontron 3D printer.
</p>

{% assign total_price = 0 %}
{% assign total_new = 0 %}
{% assign sorted_pages = site.bom | sort:"title" %}

<table>
    {% for bom in sorted_pages %}
    {% assign link = bom.links | first %}
    <tr>
        <td class="td-image">
            <div class="image">
                <img src="/assets/bom/{{bom.url | split: '/' | last}}.png"/>
            </div>
        </td>
        <td>
            <div>
                <a href="{{bom.url | relative_url}}">{{bom.title}}</a>
                <span class="bom-qty"> × {{bom.qty}}</span>
                {% if bom.new %}
                {% assign total_new = total_new | plus: bom.total %}
                <span class="badge new"><i class="material-icons">grade</i> New</span>
                {% endif %}
                {% if bom.modification %}
                <span class="badge mod"><i class="material-icons">carpenter</i> Mod</span>
                {% endif %}
            </div>
            <div class="description">{{bom.description}}</div>
        </td>
        <td class="numeric">
            <span>${{bom.total}}</span><br/>
            <a class="buy" href="{{link.url}}" target="_blank">
                <i class="material-icons">shopping_cart</i>
                {{link.vendor}}
            </a>
        </td>
    </tr>
    {% assign total_price = total_price | plus: bom.total %}
    {% endfor %}
</table>

<p>
    The <b>NEW</b> badge is for current owners of a <a href="https://github.com/mcfazio2001/JourneyMaker-Positron"
                                                       target="_blank">JourneyMaker</a> who wish to convert it to a
    Lemontron.
    The cost for the <b>NEW</b> parts is <b>${{total_new}}</b>, plus another <a href="/lemontron/bom/stepper/">stepper
    motor</a>. If you're converting a JourneyMaker, you can re-use your entire tool head, so you don't need to buy the
    <a href="/lemontron/bom/hotend/">positron one</a> but it's a big upgrade.
</p>

<h2>Total: <b>${{total_price}}</b></h2>
