---
layout: guide
title: BOM
date:   2024-08-07
category: Assembly
kofi: true
---

<p>This comprehensive list includes all the parts required to assemble a Lemontron 3D printer.</p>

{%- assign total_new = 0 -%}
{%- assign bom_sorted = site.bom | sort: "title" -%}
{%- assign bom_required = bom_sorted | where: "optional", false -%}

{%- assign total_price = 0 -%}
{%- for bom in bom_required -%}
{%- assign total_price = total_price | plus: bom.total -%}

<!-- Total New Parts -->
{%- if bom.new -%}
{%- assign total_new = total_new | plus: bom.total -%}
{%- endif -%}
{%- endfor -%}

<!-- Add Screws -->
{%- for screw in site.data.screws -%}
{%- assign total_price = total_price | plus: screw.total -%}
{%- endfor -%}

<h2>Positron Parts</h2>
{%- assign positron = bom_required | where: "category", "Positron" -%}
{% include bom_list.html items = positron %}

<h2>Hardware</h2>
{%- assign hardware = bom_required | where: "category", "Hardware" -%}
{% include bom_list.html items = hardware %}

<h2>Electronics</h2>
{%- assign electronics = bom_required | where: "category", "Electronics" -%}
{% include bom_list.html items = electronics %}

<h2>Optional Upgrades</h2>
{%- assign bom_optional = bom_sorted | where: "optional", true -%}
{% include bom_list.html items = bom_optional %}

<h2>Screws</h2>
<table>
    {% for screw in site.data.screws %}
    <tr>
        <td class="td-screw">
            {% include screw.html type=screw.type length=screw.length thread=screw.thread %}
        </td>
        <td>&times;{{screw.qty}}</td>
        <td class="screw-description">
            {{screw.description | split: "/" | join: ", "}}
        </td>
        <td class="bom-right">
            <span>${{screw.total}}</span><br/>
            {% if screw.link %}
            <a class="buy" href="{{screw.link}}" target="_blank">
                <i class="material-icons">shopping_cart</i>
                AliExpress
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p class="button">
    <a href="/exports/bom.csv" download>
        <span class="material-icons">download</span>
        Download CSV
    </a>
</p>

<p>
    The <b>NEW</b> badge is for current owners of a <a href="https://github.com/mcfazio2001/JourneyMaker-Positron"
                                                       target="_blank">JourneyMaker</a> who wish to convert it to a
    Lemontron.
    The cost for the <b>NEW</b> parts is <b>${{total_new}}</b>, plus another <a href="/lemontron/bom/stepper/">stepper
    motor</a>. If you're converting a JourneyMaker, you can re-use your entire tool head, so you don't need to buy the
    <a href="/lemontron/bom/hotend/">positron one</a> but it's a big upgrade.
</p>

<h2>Total: <b>${{total_price}}</b></h2>
