---
layout: guide
title: Screw Guide
date:   2024-09-17
category: Assembly
kofi: true
---

<p>
    All the screws of the Lemontron in one place! Don't drop them!
</p>

<h2>Chassis Screws</h2>
<table>
    <tr>
        <th>Type</th>
        <th>Thread</th>
        <th>Length</th>
        <th>Qty</th>
        <th>Use</th>
    </tr>
    {% for screw in site.data.screws %}
    {% if screw.part == "chassis" %}
    <tr>
        <td class="td-screw">
            {% include screw.html type=screw.type length=screw.length %}
        </td>
        <td>{{screw.thread}}</td>
        <td>{{screw.length}}mm</td>
        <td>{{screw.qty}}</td>
        <td>{{screw.description}}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<h2>Toolhead Screws</h2>
<table>
    <tr>
        <th>Type</th>
        <th>Thread</th>
        <th>Length</th>
        <th>Qty</th>
        <th>Use</th>
    </tr>
    {% for screw in site.data.screws %}
    {% if screw.part == "tool" %}
    <tr>
        <td class="td-screw">
            <div class="icon-screw" style="width:{{screw.length | times: 4}}px">
                <img src="/assets/icons/{{screw.type}}.svg" alt="{{screw.type}}">
            </div>
        </td>
        <td>{{screw.thread}}</td>
        <td>{{screw.length}}mm</td>
        <td>{{screw.qty}}</td>
        <td>{{screw.description}}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>


<p>
    Most of these are in the <a href="/lemontron/bom/m3-countersunk/">countersink head screws box</a>. But the wafer
    head screws must be ordered separately. If desired, you can just make 15mm screws by cutting longer ones.
</p>

<p>
<div class="button">
    <a href="https://github.com/jamesloper/lemontron/raw/refs/heads/main/_data/screws.csv" download>
        <span class="material-icons">download</span>
        Download CSV
    </a>
</div>
</p>