<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include header.html %}

<main class="page-content" aria-label="Content">
    {{content}}
</main>

{% include footer.html %}

{% if page.kofi %}
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
	kofiWidgetOverlay.draw('lemontron', {
		'type': 'floating-chat',
		'floating-chat.donateButton.text': 'Support me',
		'floating-chat.donateButton.background-color': '#ffffff',
		'floating-chat.donateButton.text-color': '#000',
	});
</script>
{% endif %}
</body>
</html>