<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include header.html %}

<main class="page-content" aria-label="Content">
    {{content}}
</main>

{% include footer.html %}

<!-- Ko-Fi Modal -->
<div class="modal" id="kofi">
    <iframe src="https://ko-fi.com/lemontron/?hidefeed=true&widget=true&embed=true&preview=true" title="lemontron"></iframe>
</div>

<script type="text/javascript">
	for (let button of document.getElementsByClassName('btn-kofi')) {
		button.addEventListener('click', function(e) {
			e.preventDefault();
			document.getElementById('kofi').classList.add('visible');
		});
	}
</script>

</body>
</html>