---
layout: default
---

{% include breadcrumbs.html %}

{%- assign sorted_guides = site.guides | sort: 'date' | reverse -%}
{%- assign blog = site.posts | where: "categories", "guide" -%}

<div class="wrapper guides-page">
<!--    <div class="sidebar">-->
<!--        <ol class="sidebar-list">-->
<!--            {% for guide in sorted_guides %}-->
<!--            <li class="{% if page.url == guide.url %}active{% endif %}">-->
<!--                <a href="{{guide.url | relative_url}}" class="frame">-->
<!--                    <img src="{{guide.thumbnail | relative_url}}" alt="{{page.title}}">-->
<!--                    <div class="sidebar-link-title">-->
<!--                        <h3>{{guide.title}}</h3>-->
<!--                        <div>{{guide.description}}</div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--        </ol>-->
<!--    </div>-->
    <div class="guide {%if page.small%}post{%endif%}">
        <header class="post-header">
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="post-meta">
                {% if page.date %}
                <time class="dt-published" datetime="{{page.date | date_to_xmlschema}}" itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{page.date | date: date_format}}
                </time>
                {% endif %}
                <a href="https://github.com/jamesloper/lemontron/commits/main/{{page.path}}" target="_blank"
                   class="material-icons">history</a>
            </p>
        </header>
        <article class="h-entry" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-content e-content" itemprop="articleBody">
                {{content}}
            </div>

            {%- if site.disqus.shortname -%}
            {%- include disqus_comments.html -%}
            {%- endif -%}

            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>
    </div>
</div>

