---
layout: default
---

{%- assign sorted_guides = site.guides | sort: 'date' -%}
{%- assign blog = site.posts | where: "categories", "guide" -%}

<div class="wrapper guides-page">
    <div class="sidebar">
        <div class="sidebar-title">Lemontron</div>
        <ol class="sidebar-list">
            <li><a href="/lemontron/">Build Guide</a></li>
            {% for guide in sorted_guides %}
            <li><a href="{{guide.url | relative_url}}">{{guide.title}}</a></li>
            {% endfor %}
        </ol>

        <div class="sidebar-title">More</div>
        <ul class="sidebar-list">
            {% for guide in blog %}
            <li class="guide-thumbnail">
                <a href="{{guide.url | relative_url}}">
                    <div class="frame">
                        <img class="guide-thumbnail-image" src="{{guide.thumbnail | relative_url}}"
                             alt="{{guide.title}}">
                    </div>
                    <div>{{guide.title}}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar-aside">
        <header class="post-header">
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="post-meta">
                {% if page.date %}
                <time class="dt-published" datetime="{{page.date | date_to_xmlschema}}" itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{page.date | date: date_format}}
                </time>
                {% endif %}
                <a href="https://github.com/jamesloper/lemontron/commits/main/{{page.path}}" target="_blank"
                   class="material-icons">history</a>
            </p>
        </header>
        <article class="h-entry" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-content e-content" itemprop="articleBody">
                {{content}}
            </div>

            {%- if site.disqus.shortname -%}
            {%- include disqus_comments.html -%}
            {%- endif -%}

            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>
    </div>
</div>

