---
layout: default
---

{{ content }}

<div class="home-section">
    <div class="wrapper">
        {%- if page.title -%}
        <h1 class="page-heading">{{page.title}}</h1>
        {%- endif -%}

        {%- if site.posts.size > 0 -%}
        <h2 class="post-list-heading">{{page.list_title | default: "News"}}</h2>
        <ul class="post-list">
            {%- for post in site.posts -%}
            <li class="post-list-item">
                {% if post.thumbnail %}
                <a class="post-list-thumbnail-link" href="{{post.url | relative_url}}">
                    <img src="{{post.thumbnail}}" alt="{{post.title}}" class="post-list-thumbnail" height="188" width="336">
                </a>
                {% endif %}
                <div class="post-list-item-body">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <h3>
                        <a class="post-link" href="{{ post.url | relative_url }}">
                            {{post.title | escape}}
                        </a>
                    </h3>
                    {{ post.excerpt }}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                </div>
            </li>
            {%- endfor -%}
        </ul>
        {%- endif -%}
    </div>
</div>