<div class="tip">
    <div class="tip-title">Zesty Tip</div>
    <div class="tip-content">
        When dealing with linear rails, it's important to not drop the balls! Take caution and put temporary end stops
        on the rail.
        <br/><br/>
        And, rails are not pre-lubricated from the factory. The factory oil is primarily
        intended to prevent corrosion and should be removed using alcohol. After cleaning, lubricate the rails with
        Teflon or lithium grease for optimal performance.
    </div>
</div>
